h5 {
  font-weight: bold;
  font-size: 25px;
}
.weather-container {
  text-align: center;
  padding: 20px;
  margin: 30px;
  font-family: "Arimo", sans-serif;
  font-size: 20px;
  background: linear-gradient(
    19deg,
    rgb(60, 165, 157) 0%,
    rgb(244, 246, 249) 100%
  );
  border-radius: 10px;
  max-width: 900px;
}
.enter-city {
  margin: 15px 10px;
  text-align: left;
}
.card {
  margin: 10px;
  background: rgba(229, 243, 242, 0.3);
  border-radius: 10px;
  padding: 5px;
}

.tex-lef {
  text-align: left;
}
.city {
  font-weight: bold;
  font-size: 30px;
}

.btn-info {
  color: #fff;
}

.day-temp .active {
  color: #212529;
  cursor: default;
  text-decoration: none;
}
.day-temp .active:hover {
  text-decoration: underline;
}
.target {
  margin: 30px;
}
.date {
  font-size: 20px;
}
.day {
  font-weight: bold;
  font-size: 25px;
}
.units {
  font-weight: normal;
  font-size: 20px;
  position: relative;
  top: -10px;
}
.day-temp {
  font-weight: bold;
  font-size: 40px;
}
.card-day {
  background: rgba(229, 243, 242, 0.3);
  font-size: 20px;
  margin: 10px;
  text-align: center;
  position: relative;
  transition: all 150ms ease-in-out;
}
.card-body {
  margin: 0px;
  padding: 5px;
}

.icon-forcast {
  max-width: 60px;
  display: block;
  margin: 0 auto;
}

.icon-today {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}
